{% extends "form.html" %}
{% block content %}

<h1 id="form_title"> {{ play.title }} — edit performance </h1>

<form action="#" method="post" class="performance_form" onsubmit="valSubmit();">

  <div class="form_questions">
  
    <div class="form_category">
      <h2> Theatre </h2>
      <div class="form_theatre">
        <div class="select_theatre">
          <label for="theatre_roll">Select one from the existing theatres: </label><br>
          <select id="theatre_roll" name="theatre">
            {% for theatre in theatres %}
              <option value="{{ theatre.id }}"> {{ theatre.theatre_name }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="new_theatre">
          <p> Or if yours is not on the list add a new one here:</p>
          <a href="{{ url_for('theatres', play_id=play.id) }}"> New / Edit / Remove Theatre </a>
        </div>
      </div>
    </div>
  
    <div class="form_category">
    <h2> Review </h2>
      <label for="review_title">Review title: </label>
      <input required name="review_title" type="text" maxlength="100"  value="{{ review.review_title }}">
      <br><br>
      <label for="review_link">Review link: </label>
      <input name="review_link"  type="text" maxlength="500" value="{{ review.review_link }}">
    </div>
           
    <div class="form_category">
      <h2> Performance date </h2>
      <label for="p_date"> Date: </label>
      <input required id="p_date" name="p_date" type="text" maxlength="10" value="{{ p_date }}">
    </div>
  
  </div>
  <div class="submit_button">
    <input id="perf_submit" type="submit" value="Submit">
  </div> 

</form>

<script>

  "use strict";

  function valSubmit() {
 
    function valiDate() {
      // checks if date is given in the correct form - if not: cancel submission (event.returnValue = false)
      let message = "Please, type the date in the following format: DD-MM-YYYY (eg. 26-04-1564 for 26th of April, 1564)"
      let pDate = document.getElementById('p_date').value;
      if ((isNaN(pDate.substring(6))) || (pDate.substring(6) < 1000) || (pDate.substring(6) > 9999)) {
        alert(message);
        return event.returnValue = false;
      } else if ((isNaN(pDate.substring(3,5))) || (pDate.substring(3,5) < 1)  || (pDate.substring(3,5) > 12)) {
        alert(message);
        return event.returnValue = false;
      } else if ((isNaN(pDate.substring(0,2))) || (pDate.substring(0,2) < 1) || (pDate.substring(0,2) > 31)) {
        alert(message);
        return event.returnValue = false;
      } else {
        return true;
      }
    }
    // if date was given in the correct form ask for confirmation
    if (valiDate() == true) {
      let yesNo = confirm('Do you really want to submit?');
      if (yesNo == true) {
        return event.returnValue = true;
      } else {
        return event.returnValue = false; 
      }
    } 

  }

  function getTheatre() {
    // selects the theatre from the drop down list that belongs to the performance

    function selectItemByValue(elm, val) {
      length = elm.options.length;
        for (let i = 0; i < length; i++) {
          if (elm.options[i].value == val) {
            elm.selectedIndex = i;
              break;
        }
      } 
    }
    selectItemByValue(document.getElementById('theatre_roll'), '{{  perf.theatre_id }}');
  }

  window.onload = getTheatre()

</script>

{% endblock %}
